.main-wrapper {
    margin: auto;
    max-width: 70vw;
    padding: 20px;
}

.products-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1rem;
    max-width: 80vw;
    list-style-type: none;
    padding: 0;
}

.product-item {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-between;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-item:hover {
    background-color: #f9f9f9;
}

.product-item-buttons {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
}

.product-item-titles {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

}

.paging-buttons {
    display: flex;
    gap: 1rem;
    padding: 0 0 1rem 0;
    justify-content: flex-end;
    align-items: center;
}

.in-stoke-wrapper {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.empty-products-message {
    padding-top: 1rem;
    font-size: 1.5rem;
}