.product-card {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    max-width: 40vw;
    margin: auto;
    margin-top: 2rem;
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: transform 0.3s, box-shadow 0.3s;
}

.product-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.product-title {
    font-weight: 600;
    color: #333;
}

.product-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 18px;
    color: #555;
}

.product-buttons {
    display: flex;
    justify-content: space-between;
}